
html[data-theme='dark'] {
    --bg-color: #2c3552;
    --secondary-bg-color: rgb(56, 56, 56);
    --heading-color: #66a1d2;
    --body-color: #dcd5d5;
    --border-color: #b252a1;
    --nav-text-color: #b252a1;
    --tag-color: #dcd5d5;
    --blockquote-text-color:    rgb(180, 173, 173);
    --blockquote-border-color:  #66a1d2;
    --link-color: #b252a1;
}

h1  {
  color:    #66a1d2;
}

h2 {
  color:  #66a1d2;
}

h3 {
  color: #66a1d2;
}

strong {
  color: #66a1d2;
}
/*
.chroma .hl {
  background-color: #1a1e35;
}*/

.post .post-content a {
    color: #b252a1;
}
