<a href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{else}}{{ $.Site.BaseURL }}{{ end }}">
  <div class="logo">
    {{ if (isset $.Site.Params.Logo "logoimg" ) }}
      <img src="{{ $.Site.Params.Logo.logoImg | absURL }}" />
      {{ with $.Site.Params.LogoLogoImg2 }}<img src="{{ $.Site.Params.Logo.logoImg2 | absURL }}" />{{end}}
    {{ else if (isset $.Site.Params.Logo "logotext") }}
      {{ $.Site.Params.Logo.logoText }}
    {{ else }}
      Test
    {{ end }}
  </div>
</a>
